<a href="https://colab.research.google.com/github/IlseOlivera/FolderPython/blob/main/DocuPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("¡Hola mundo desde Python!")

¡HoLA mundo desde Python!

In [ ]:
nombre=input("Ingresa tu nombre: ")
print("Bienvenido al curso "+nombre)

Ingresa tu nombre: ilse
Bienvenido al curso ilse

In [ ]:
nombre="Ilse"
edad=22
print(f"Me llamo {nombre} y tengo {edad} años.")

Me llamo Ilse y tengo 22 años.

In [ ]:
x=1
print(x)

1

In [ ]:
y="hola"
print(y)

hola

Si queremos cambiar de entero a float vamos a hacer algo que se llama casting

In [ ]:
type(int(5.5))

int

Para cambiar el tipo de un dato tambien puede ser con el nombre de la variable

In [ ]:
numEntero=22
numFlotante=2.3
print(numEntero)
print(numFlotante)

print(int(numFlotante))

print(float(numEntero))

Ejercicio: Pedir un numero enteo y un float al usuario

In [ ]:
nEntero=input("Ingresa un numero entero: ")
nFloat=input("Ingresa un numero flotante: ")

Ingresa un numero entero: 2
Ingresa un numero flotante: 2.7

In [ ]:
print(float(nEntero))

2.0

In [ ]:
print(str(nFloat))

2.7

In [ ]:
print(nFloat)

2.7

In [ ]:
nFloat=int(float(nFloat))
print(nFloat)
print("Flotante a entero: "+str(nFloat))
print(int(float(nFloat)))

2
Flotante a entero: 2
2

cociente=10//3
print(cociente)

In [ ]:
cociente=10//3
print(cociente)

3

In [ ]:
modulo=10%3
print(modulo)

1

In [ ]:
potencia=5.0**3
pot=pow(5,3)
print(potencia)
print(pot)

125.0
125

Pida año de nacimiento e imprima cuantos años tiene el ususario
data.time.year, va a decir en que año esta

In [ ]:
from datetime import datetime
nombre=input("Ingresa tu nombre: ")
anio=int(input("Ingresa tu año de nacimiento: "))
a=datetime.now().year
anios=a-anio
print("Hola " + nombre+ " tu edad es de: ",anios)

Ingresa tu nombre: ilse
Ingresa tu año de nacimiento: 2008
Hola ilse tu edad es de:  15

LISTAS
para almacenar distintos tipos de datos
variable=[valores]

In [ ]:
fam=[10,20,30,40]
print(fam)

[10, 20, 30, 40]

In [ ]:
fam1=[['azul',20],['azul',21],['rojo',22]]
print(fam1)

[['azul', 20], ['azul', 21], ['rojo', 22]]

In [ ]:
edades=['rojo',20,'negro',30,'cafe',12,'rosa',36]
print(edades[5])
print(edades[2:5])
print(edades[:4])
print(edades[5:])

12
['negro', 30, 'cafe']
['rojo', 20, 'negro', 30]
[12, 'rosa', 36]

Listas con concatenacion

In [ ]:
suma=edades[1]+edades[3]
print(suma)

print(" Las edades de rojo y negro son: ",suma)

50
 Las edades de rojo y negro son:  50

un programa que pida al usuario su nombre, su año de nacimiento y su número favorito. Luego, el programa debe imprimir una frase que incluya su nombre, su edad, su número favorito y el cuadrado de su número favorito.